{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
