{% extends 'base.html.twig' %}

{% block title %}Nouveau Notes POS{% endblock %}

{% block body %}
    <h1>Ajout nouveau Notes POS</h1>

    {{ include('notes_pos/_form.html.twig') }}

    <a href="{{ path('notes_p_o_s_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
