{% extends 'base.html.twig' %}

{% block title %}Edition Droit Pension{% endblock %}

{% block body %}
    <h1>Edition Droit Pension</h1>

    {{ include('droits_pensions/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('droits_pensions_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('droits_pensions/_delete_form.html.twig') }}
{% endblock %}
