{% extends 'base.html.twig' %}

{% block title %}New DroitsPensions{% endblock %}

{% block body %}
    <h1>Create new DroitsPensions</h1>

    {{ include('droits_pensions/_form.html.twig') }}

    <a href="{{ path('droits_pensions_index') }}">back to list</a>
{% endblock %}
