{% extends 'base.html.twig' %}

{% block title %}Nouvelle Types Communes{% endblock %}

{% block body %}
    <h1>Ajout nouvelle Types Communes</h1>

    {{ include('types_communes/_form.html.twig') }}

    <a href="{{ path('types_communes_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
