{% extends 'base.html.twig' %}

{% block title %}Edition Province{% endblock %}

{% block body %}
    <h1>Edition Province</h1>

    {{ include('provinces/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('provinces_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('provinces/_delete_form.html.twig') }}
{% endblock %}
