{% extends 'base.html.twig' %}

{% block title %}Edition District{% endblock %}

{% block body %}
    <h1>Edition District</h1>

    {{ include('districts/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('districts_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('districts/_delete_form.html.twig') }}
{% endblock %}
