{% extends 'base.html.twig' %}

{% block title %}Nouvelle Districts{% endblock %}

{% block body %}
    <h1>Ajout nouvelle Districts</h1>

    {{ include('districts/_form.html.twig') }}

    <a href="{{ path('districts_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
