<form method="post" action="{{ path('diplomes_delete', {'id': diplome.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer ce donnée?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ diplome.id) }}">
    <button class="btn btn-sm bg-gradient-danger m-2"><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</button>
</form>
