{% extends 'base.html.twig' %}

{% block title %}Edit Diplomes{% endblock %}

{% block body %}
    <h1>Edit Diplomes</h1>

    {{ include('diplomes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('diplomes_index') }}">back to list</a>

    {{ include('diplomes/_delete_form.html.twig') }}
{% endblock %}
