{% extends 'base.html.twig' %}

{% block title %}Edition Diplome{% endblock %}

{% block body %}
    <h1>Edition Diplome</h1>

    {{ include('diplomes/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('diplomes_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('diplomes/_delete_form.html.twig') }}
{% endblock %}
