{% extends 'base.html.twig' %}

{% block title %}Nouvelle Diplômes{% endblock %}

{% block body %}
    <h1>Ajout nouvelle Diplômes</h1>

    {{ include('diplomes/_form.html.twig') }}

    <a href="{{ path('diplomes_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
