{% extends 'base.html.twig' %}

{% block title %}Edition Grade{% endblock %}

{% block body %}
    <h1>Edition Grade</h1>

    {{ include('grades/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('grades_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('grades/_delete_form.html.twig') }}
{% endblock %}
