{% extends 'base.html.twig' %}

{% block title %}Nouveau Roles{% endblock %}

{% block body %}
    <h1>Ajout nouveau Roles</h1>

    {{ include('roles/_form.html.twig') }}

    <a href="{{ path('roles_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
