{% extends 'base.html.twig' %}

{% block title %}Edition Communes{% endblock %}

{% block body %}
    <h1>Edition Communes</h1>

    {{ include('communes/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('communes_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('communes/_delete_form.html.twig') }}
{% endblock %}
