{% extends 'base.html.twig' %}

{% block title %}Nouvelle Communes{% endblock %}

{% block body %}
    <h1>Ajout nouvelle Communes</h1>

    {{ include('communes/_form.html.twig') }}

    <a href="{{ path('communes_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
