<form method="post" action="{{ path('affectations_personnels_delete', {'id': affectations_personnel.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ affectations_personnel.id) }}">
    <button class="btn">Delete</button>
</form>
