{% extends 'base.html.twig' %}

{% block title %}Edit AffectationsPersonnels{% endblock %}

{% block body %}
    <h1>Edit AffectationsPersonnels</h1>

    {{ include('affectations_personnels/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('affectations_personnels_index') }}">back to list</a>

    {{ include('affectations_personnels/_delete_form.html.twig') }}
{% endblock %}
