{% extends 'base.html.twig' %}

{% block title %}Nouvelle Affectations Personnels{% endblock %}

{% block body %}
    <h1>Ajout nouvelle Affectations Personnels</h1>

    {{ include('affectations_personnels/_form.html.twig') }}

    <a href="{{ path('affectations_personnels_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
