{% extends 'base.html.twig' %}

{% block title %}Edition Niveau Diplome{% endblock %}

{% block body %}
    <h1>Edition Niveau Diplome</h1>

    {{ include('niveau_diplome/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('niveau_diplome_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('niveau_diplome/_delete_form.html.twig') }}
{% endblock %}
