{% extends 'base.html.twig' %}

{% block title %}New NiveauDiplome{% endblock %}

{% block body %}
    <h1>Create new NiveauDiplome</h1>

    {{ include('niveau_diplome/_form.html.twig') }}

    <a href="{{ path('niveau_diplome_index') }}">back to list</a>
{% endblock %}
