{% extends 'base.html.twig' %}

{% block title %}Nouvelle Détails Motifs Réintegration{% endblock %}

{% block body %}
    <h1>Ajout nouvelle Détails Motifs Réintegration</h1>

    {{ include('details_motifs_reintegration/_form.html.twig') }}

    <a href="{{ path('details_motifs_reintegration_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
