{% extends 'base.html.twig' %}

{% block title %}Nouvelle Fonctions{% endblock %}

{% block body %}
    <h1>Ajout nouvelle Fonctions</h1>

    {{ include('fonctions/_form.html.twig') }}

    <a href="{{ path('fonctions_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
