{% extends 'base.html.twig' %}

{% block title %}Nouvelle Fréquence de Traitement{% endblock %}

{% block body %}
    <h1>Ajout nouvelle Fréquence de Traitement</h1>

    {{ include('frequence_traitement/_form.html.twig') }}

    <a href="{{ path('frequence_traitement_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
