{% extends 'base.html.twig' %}

{% block title %}Nouvelle Situation Sanitaire{% endblock %}

{% block body %}
    <h1>Ajout nouvelle Situation Sanitaire</h1>

    {{ include('situation_sanitaire/_form.html.twig') }}

    <a href="{{ path('situation_sanitaire_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
