<form method="post" action="{{ path('decisions_affectations_delete', {'id': decisions_affectation.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer ce donnée?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ decisions_affectation.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</button>
</form>
