{% extends 'base.html.twig' %}

{% block title %}Edition Décision Affectation{% endblock %}

{% block body %}
    <h1>Edition Décision Affectation</h1>

    {{ include('decisions_affectations/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('decisions_affectations_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('decisions_affectations/_delete_form.html.twig') }}
{% endblock %}
