{% extends 'base.html.twig' %}

{% block title %}New DecisionsAffectations{% endblock %}

{% block body %}
    <h1>Create new DecisionsAffectations</h1>

    {{ include('decisions_affectations/_form.html.twig') }}

    <a href="{{ path('decisions_affectations_index') }}">back to list</a>
{% endblock %}
