{% extends 'base.html.twig' %}

{% block title %}Edition Region{% endblock %}

{% block body %}
    <h1>Edition Region</h1>

    {{ include('regions/_form.html.twig', {'button_label': 'Modififer'}) }}

    <a href="{{ path('regions_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('regions/_delete_form.html.twig') }}
{% endblock %}
