{% extends 'base.html.twig' %}

{% block title %}Nouvelle Regions{% endblock %}

{% block body %}
    <h1>Ajout nouvelle Regions</h1>

    {{ include('regions/_form.html.twig') }}

    <a href="{{ path('regions_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
