{% extends 'base.html.twig' %}

{% block title %}Edition Permission{% endblock %}

{% block body %}
    <h1>Edition Permission</h1>

    {{ include('permissions/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('permissions_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('permissions/_delete_form.html.twig') }}
{% endblock %}
