{% extends 'base.html.twig' %}

{% block title %}Nouvelle Permissions{% endblock %}

{% block body %}
    <h1>Ajout nouvelle Permissions</h1>

    {{ include('permissions/_form.html.twig') }}

    <a href="{{ path('permissions_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
