<form method="post" action="{{ path('motif_reintegration_delete', {'id': motif_reintegration.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer ce donnée?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ motif_reintegration.id) }}">
    <button class="btn btn-sm bg-gradient-danger m-2"><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</button>
</form>
