{% extends 'base.html.twig' %}

{% block title %}Edition Personnel{% endblock %}

{% block body %}
    <h1>Edition Personnel</h1>

    {{ include('personnels/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('personnels_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {% if is_granted("ROLE_SUPERVISEUR") %}{{ include('personnels/_delete_form.html.twig') }}{% endif %}
{% endblock %}
