{% extends 'base.html.twig' %}

{% block title %}Nouveau Personnels{% endblock %}

{% block body %}
    <h1>Ajout nouveau Personnels</h1>

    {{ include('personnels/_form.html.twig') }}

    <a href="{{ path('personnels_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
