{% extends 'base.html.twig' %}

{% block title %}Nouvelle Fonctions Conjoints{% endblock %}

{% block body %}
    <h1>Ajout nouvelle Fonctions Conjoints</h1>

    {{ include('fonctions_conjoints/_form.html.twig') }}

    <a href="{{ path('fonctions_conjoints_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
