{% extends 'base.html.twig' %}

{% block title %}Edition Unite{% endblock %}

{% block body %}
    <h1>Edition Unite</h1>

    {{ include('unites/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('unites_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('unites/_delete_form.html.twig') }}
{% endblock %}
