{% extends 'base.html.twig' %}

{% block title %}Nouveau Unités{% endblock %}

{% block body %}
    <h1>Ajout nouveau Unités</h1>

    {{ include('unites/_form.html.twig') }}

    <a href="{{ path('unites_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
