{% extends 'base.html.twig' %}

{% block title %}Edition Type de Traitement{% endblock %}

{% block body %}
    <h1>Edition Type de Traitement</h1>

    {{ include('type_traitement/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('type_traitement_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('type_traitement/_delete_form.html.twig') }}
{% endblock %}
