<form method="post" action="{{ path('ex_conjoints_delete', {'id': ex_conjoint.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ex_conjoint.id) }}">
    <button class="btn">Delete</button>
</form>
