<form method="post" action="{{ path('ex_conjoints_delete', {'id': ex_conjoint.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer ce donnée?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ex_conjoint.id) }}">
    <button class="btn btn-sm bg-gradient-danger m-2"><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</button>
</form>
