{% extends 'base.html.twig' %}

{% block title %}Edition ExConjoint{% endblock %}

{% block body %}
    <h1>Edition ExConjoint</h1>

    {{ include('ex_conjoints/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('ex_conjoints_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('ex_conjoints/_delete_form.html.twig') }}
{% endblock %}
