{% extends 'base.html.twig' %}

{% block title %}Edit ExConjoints{% endblock %}

{% block body %}
    <h1>Edit ExConjoints</h1>

    {{ include('ex_conjoints/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ex_conjoints_index') }}">back to list</a>

    {{ include('ex_conjoints/_delete_form.html.twig') }}
{% endblock %}
