{% extends 'base.html.twig' %}

{% block title %}New ExConjoints{% endblock %}

{% block body %}
    <h1>Create new ExConjoints</h1>

    {{ include('ex_conjoints/_form.html.twig') }}

    <a href="{{ path('ex_conjoints_index') }}">back to list</a>
{% endblock %}
