{% extends 'base.html.twig' %}

{% block title %}Nouveau ExConjoints{% endblock %}

{% block body %}
    <h1>Ajout nouveau ExConjoints</h1>

    {{ include('ex_conjoints/_form.html.twig') }}

    <a href="{{ path('ex_conjoints_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
