{% extends 'base.html.twig' %}

{% block title %}Edition Décision Reintegration{% endblock %}

{% block body %}
    <h1>Edition  Décision Reintegration</h1>

    {{ include('decision_reintegration/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('decision_reintegration_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('decision_reintegration/_delete_form.html.twig') }}
{% endblock %}
