{% extends 'base.html.twig' %}

{% block title %}Nouvelle Décision de Réintegration{% endblock %}

{% block body %}
    <h1>Ajout nouvelle Décision de Reintegration</h1>

    {{ include('decision_reintegration/_form.html.twig') }}

    <a href="{{ path('decision_reintegration_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
