{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-sm bg-gradient-success"><i class="fa fa-book" aria-hidden="true"></i> {{ button_label|default('Enregister') }}</button>
{{ form_end(form) }}
