{% extends 'base.html.twig' %}

{% block title %}Edition Conjoints{% endblock %}

{% block body %}
    <h1>Edition Conjoints</h1>

    {{ include('conjoints/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('conjoints_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('conjoints/_delete_form.html.twig') }}
{% endblock %}
