{% extends 'base.html.twig' %}

{% block title %}New Conjoints{% endblock %}

{% block body %}
    <h1>Create new Conjoints</h1>

    {{ include('conjoints/_form.html.twig') }}

    <a href="{{ path('conjoints_index') }}">back to list</a>
{% endblock %}
