{% extends 'base.html.twig' %}

{% block title %}Edition Décision Radiation Contrôle{% endblock %}

{% block body %}
    <h1>Edition Décision Radiation Contrôle</h1>

    {{ include('decisions_radiations_controles/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('decisions_radiations_controles_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('decisions_radiations_controles/_delete_form.html.twig') }}
{% endblock %}
