{% extends 'base.html.twig' %}

{% block title %}New DecisionsRadiationsControles{% endblock %}

{% block body %}
    <h1>Create new DecisionsRadiationsControles</h1>

    {{ include('decisions_radiations_controles/_form.html.twig') }}

    <a href="{{ path('decisions_radiations_controles_index') }}">back to list</a>
{% endblock %}
