<form method="post" action="{{ path('reintegration_delete', {'id': reintegration.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer ce donnée?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reintegration.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</button>
</form>
