{% extends 'base.html.twig' %}

{% block title %}Edit Decorations{% endblock %}

{% block body %}
    <h1>Edit Decorations</h1>

    {{ include('decorations/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('decorations_index') }}">back to list</a>

    {{ include('decorations/_delete_form.html.twig') }}
{% endblock %}
