{% extends 'base.html.twig' %}

{% block title %}Edition Decoration{% endblock %}

{% block body %}
    <h1>Edition Decoration</h1>

    {{ include('decorations/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('decorations_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('decorations/_delete_form.html.twig') }}
{% endblock %}
