{% extends 'base.html.twig' %}

{% block title %}Nouvelle Décorations{% endblock %}

{% block body %}
    <h1>Ajout nouvelle Décorations</h1>

    {{ include('decorations/_form.html.twig') }}

    <a href="{{ path('decorations_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
