{% extends 'base.html.twig' %}

{% block title %}Edition Motif Radiation Contrôle{% endblock %}

{% block body %}
    <h1>Edition Motif Radiation Contrôle</h1>

    {{ include('motifs_radiations_controles/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('motifs_radiations_controles_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('motifs_radiations_controles/_delete_form.html.twig') }}
{% endblock %}
