{% extends 'base.html.twig' %}

{% block title %}New MotifsRadiationsControles{% endblock %}

{% block body %}
    <h1>Create new MotifsRadiationsControles</h1>

    {{ include('motifs_radiations_controles/_form.html.twig') }}

    <a href="{{ path('motifs_radiations_controles_index') }}">back to list</a>
{% endblock %}
