{% extends 'base.html.twig' %}

{% block title %}Nouveau Motifs Radiations Contrôles{% endblock %}

{% block body %}
    <h1>Ajout nouveau Motifs Radiations Contrôles</h1>

    {{ include('motifs_radiations_controles/_form.html.twig') }}

    <a href="{{ path('motifs_radiations_controles_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
