{% extends 'base.html.twig' %}

{% block title %}Edition Recompense{% endblock %}

{% block body %}
    <h1>Edition Recompense</h1>

    {{ include('recompense/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('recompense_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('recompense/_delete_form.html.twig') }}
{% endblock %}
