{% extends 'base.html.twig' %}

{% block title %}Nouvelle Diplômes Personnels{% endblock %}

{% block body %}
    <h1>Ajout nouvelle Diplômes Personnels</h1>

    {{ include('diplomes_personnels/_form.html.twig') }}

    <a href="{{ path('diplomes_personnels_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
