{% extends 'base.html.twig' %}

{% block title %}New DecorationsPersonnels{% endblock %}

{% block body %}
    <h1>Create new DecorationsPersonnels</h1>

    {{ include('decorations_personnels/_form.html.twig') }}

    <a href="{{ path('decorations_personnels_index') }}">back to list</a>
{% endblock %}
