{% extends 'base.html.twig' %}

{% block title %}Nouvelle Décorations Personnels{% endblock %}

{% block body %}
    <h1>Ajout nouvelle DécorationsPersonnels</h1>

    {{ include('decorations_personnels/_form.html.twig') }}

    <a href="{{ path('decorations_personnels_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
