{% extends 'base.html.twig' %}

{% block title %}Edit NotesPersonnels{% endblock %}

{% block body %}
    <h1>Edit NotesPersonnels</h1>

    {{ include('notes_personnels/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('notes_personnels_index') }}">back to list</a>

    {{ include('notes_personnels/_delete_form.html.twig') }}
{% endblock %}
