<form method="post" action="{{ path('nominations_personnels_delete', {'id': nominations_personnel.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ nominations_personnel.id) }}">
    <button class="btn">Delete</button>
</form>
