{% extends 'base.html.twig' %}

{% block title %}Edit NominationsPersonnels{% endblock %}

{% block body %}
    <h1>Edit NominationsPersonnels</h1>

    {{ include('nominations_personnels/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('nominations_personnels_index') }}">back to list</a>

    {{ include('nominations_personnels/_delete_form.html.twig') }}
{% endblock %}
