{% extends 'base.html.twig' %}

{% block title %}Nouvelle Nominations Personnels{% endblock %}

{% block body %}
    <h1>Ajout nouvelle Nominations Personnels</h1>

    {{ include('nominations_personnels/_form.html.twig') }}

    <a href="{{ path('nominations_personnels_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
