{% extends 'base.html.twig' %}

{% block title %}Edition Decision Promotion{% endblock %}

{% block body %}
    <h1>Edition Decision Promotion</h1>

    {{ include('decisions_promotions/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('decisions_promotions_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('decisions_promotions/_delete_form.html.twig') }}
{% endblock %}
