{% extends 'base.html.twig' %}

{% block title %}Nouvelle Décisions Promotions{% endblock %}

{% block body %}
    <h1>Ajout nouvelle Décisions Promotions</h1>

    {{ include('decisions_promotions/_form.html.twig') }}

    <a href="{{ path('decisions_promotions_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
