{% extends 'base.html.twig' %}

{% block title %}Edition Enfant{% endblock %}

{% block body %}
    <h1>Edition Enfant</h1>

    {{ include('enfants/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('enfants_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('enfants/_delete_form.html.twig') }}
{% endblock %}
