{% extends 'base.html.twig' %}

{% block title %}Nouveau Enfants{% endblock %}

{% block body %}
    <h1>Ajout nouveau Enfants</h1>

    {{ include('enfants/_form.html.twig') }}

    <a href="{{ path('enfants_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
