{% extends 'base.html.twig' %}

{% block title %}Nouveau Types Contrats{% endblock %}

{% block body %}
    <h1>Ajout nouveau Types Contrats</h1>

    {{ include('types_contrats/_form.html.twig') }}

    <a href="{{ path('types_contrats_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
