{% extends 'base.html.twig' %}

{% block title %}New TypesContrats{% endblock %}

{% block body %}
    <h1>Create new TypesContrats</h1>

    {{ include('types_contrats/_form.html.twig') }}

    <a href="{{ path('types_contrats_index') }}">back to list</a>
{% endblock %}
