{% extends 'base.html.twig' %}

{% block title %}Logo{% endblock %}

{% block body %}
    <h1>Logo de l'institution</h1>
    <div class="example-wrapper">
        <img src="/dist/images/logo_dgsr.png" width="500px" alt="Logo">
    </div>
    <br><br><br><br>
    {{ form(form) }}
{% endblock %}
