{% extends 'base.html.twig' %}

{% block title %}Edition Punition{% endblock %}

{% block body %}
    <h1>Edition Punition</h1>

    {{ include('punitions/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('punitions_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('punitions/_delete_form.html.twig') }}
{% endblock %}
