{% extends 'base.html.twig' %}

{% block title %}Edition Photo{% endblock %}

{% block body %}
    <h1>Edition Photo</h1>

    {{ include('photos/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('photos_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('photos/_delete_form.html.twig') }}
{% endblock %}
