{% extends 'base.html.twig' %}

{% block title %}Nouvelle Photos{% endblock %}

{% block body %}
    <h1>Ajout nouvelle Photos</h1>

    {{ include('photos/_form.html.twig') }}

    <a href="{{ path('photos_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
