{% extends 'base.html.twig' %}

{% block title %}Saisie Fiche Etat Civil{% endblock %}

{% block body %}
    <h1>Saisie fiche individuelle</h1>
    <h2>Nouveau Personnels</h2>

    {{ include('personnels/_form.html.twig') }}

{% endblock %}
