{% extends 'base.html.twig' %}

{% block title %}Edition Détail Motif Radiation Controle{% endblock %}

{% block body %}
    <h1>Edition Détail Motif Radiation Controle</h1>

    {{ include('details_motifs_radiations_controles/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('details_motifs_radiations_controles_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('details_motifs_radiations_controles/_delete_form.html.twig') }}
{% endblock %}
